.center_xy {
  display: flex;
  align-items:center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1039;
}
.fw700{
  font-weight: 700;
}

.bg-burlywood{
  background-color: burlywood;
}

.bg-dark {
  background-color: #000 !important;
 }