.center_xy {
  display: flex;
  align-items:center;
  justify-content: center;
}


.button {
  background-color: rgb(255, 255, 255);
  border: 2px solid #0594a8;
  color: #0594a8;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0594a8;
  border: 2px solid #0594a8;
  color: rgb(255, 255, 255);
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1039;
}
.category{
  border-radius: 50%;
  height:  200px; 
  width: 200px; 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  transition: transform .2s; /* Animation */
}
.category:hover{
  transform: scale(1.1); 
}

.u:hover{
  text-decoration: underline;
}
.pointer{
cursor: pointer;
}

.fw700{
  font-weight: 700;
}
  #slider {
    overflow: hidden;
  }
  
  #slider  {
    position: relative;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
  }

  #slider .sliderbtn {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-60%, -20%);
    -ms-transform: translate(-60%, -20%);
  }

  #slider .sliderbtn .login {
    border: 2px solid #0594a8;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
  }
  #slider .sliderbtn .login:hover {
    background-color: white;
    border: 2px solid white;
    color: #0594a8;
  }
  
  #slider .sliderbtn .signup {
    border: 2px solid #ffffff;
    color: #0594a8;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
  }
  #slider .sliderbtn .signup:hover {
    background-color: rgb(71, 45, 45);
    border: 2px solid rgb(71, 45, 45);
    color: #ffffff;
  }
.movecard {
  margin-bottom: 50px;
  position: absolute;
  top: 750px;
  left: 5.5% 
}

 .serviceBtn {
  border: 2px solid #0594a8;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.serviceBtn:hover {
  background-color: white;
  border: 2px solid #0594a8;
  color: #0594a8;
}

.bg-burlywood{
  background-color: burlywood;
}

.bg-dark {
  background-color: #000 !important;
 }
 

 .bg-circle
 {
   display: inline-block;
   width: 60px;
   height: 60px;
   padding: 14px 4px;
   color: #ececec;
   text-align: center;
   border-radius: 50%;
 }
 
 .bg-circle-outline
 {
   width: 50px;
   height: 50px;
   color:smoke;
   padding: 8px 2px;
   border: 2px solid;
   border-color: smoke;
   border-radius: 50%;
 }
 
 
 .bg-circle a, a:hover, .media a:focus
 {
   text-decoration: none !important;
   outline: none;
   color: #ececec;
 }
 .bg-circle-outline a, a:hover, .media a:focus
 {
   text-decoration: none !important;
   outline: none;
   color: #ececec;
 }
 